#root {
  max-width: 480px;
  margin: 0 auto;
  max-height: 100vh;
  overflow: auto;
}

.snaps-container {
  color: black;
  display: flex;
  margin: 0 auto;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  border-radius: 10px 10px 0px;
  box-shadow: 0 0 2vh black;
  background-color: white;
  position: relative;
  margin-top: -20px;
}

.snap {
  display: flex;
  cursor: pointer;
  padding: 20px 30px;
  margin-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.avatar {
  height: 36px;
  width: 36px;
  border-radius: 36px;
  background-color: gray;
  margin-right: 10px;
}

.snap-info {
  margin-right: 20px;
}

.snap-action {
  flex: end;
}

.snap-action:last-of-type {
  margin-left: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#root::-webkit-scrollbar {
  display: none;
}
