body {
  background-color: #24272a;
  color: white;
  width: 100vw;
}

#root {
  max-width: 480px;
  margin: 0 auto;
  max-height: 100vh;
  overflow: auto;
}

.snap-list {
  display: flex;
  margin: 0 auto;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
}

.snap {
  display: flex;
  background-color: #343434;
  padding: 20px 10px;
  margin-bottom: 5px;
}

.snap-from {
  width: 30px;
}

.snap-action {
  flex: end;
}

.snap-action:last-of-type {
  margin-left: auto;
}
